body{
    margin:0;
    background-color: rgb(205, 206, 205);
}
.header_container {
    background-color:rgb(204, 48, 48);
}
.footer_container {
    background-color:#333333;
    height:100px;
    
}
header{
    position:fixed;
    width: 100%;
}
.logo_footer{
   float:right;
    width: 100px;
    padding-top: 20px;
}
.textodireitos{
    width:360px;
    margin-left: 30px;
    padding-top: 50px;
    color:rgba(255, 255, 255, 0.808);
    font-family: calibri;
}
.logo_png {
    margin-left: 20px;
    margin-bottom:20px;
    margin-top:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-family:'Calibri';
    font-size: 15px;
    
  }
li {
    float:left;
    padding:20px;
    color:white;
}
li a {
    display: block;
    color: white;
    text-align: center;

    text-decoration: none;
}

li:hover {
    background-color: #111111;
  }

.container_nike{
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
    
}
.nikeall{
    text-align: center;
    font-family: calibri;
    border: 2px solid rgba(233, 233, 233, 0.726);
    margin-left: 110px;
    margin-right: 110px;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 25px;
}
.portraitnike{
    float:left;
    width: 800px;
    margin-right: 30px;

 
}
.portraitnikee{
    float:left;
    margin-top: 70px;
    padding-right: 20px;
}
.textportraitnike{
    margin-top: 60px;
    font-size: 13px;
    text-align: justify;
}
.container_adidas{
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
    
}
.adidasall{
    text-align: center;
    font-family: calibri;
    border: 2px solid rgba(233, 233, 233, 0.726);
    margin-left: 110px;
    margin-right: 110px;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 25px;
}
.portraitadidas{
    float:left;
    margin-top: 30px;
    width: 800px;
}
.portraitadidass{
    float:left;
    margin-top: 50px;
    padding-right: 20px;
}

.textportraitadidas{
    font-size: 13px;
    text-align: justify;
}
.container_nb{
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
    
}
.nball{
    text-align: center;
    font-family: calibri;
    border: 2px solid rgba(233, 233, 233, 0.726);
    margin-left: 110px;
    margin-right: 110px;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 25px;
}
.portraitnb{
    float:left;
    margin-top: 30px;
    width: 800px;
}
.portraitnbb{
    float:left;
    margin-top: 50px;
    padding-right: 20px;
}

.textportraitnb{
    font-size: 13px;
    text-align: justify;
}
th{
    width:33%;
}

.tableyeezys{
    border: 2px solid rgba(255, 255, 255, 0.925);
    background-color:  rgba(255, 255, 255, 0.925);
    border-radius: 25px;
    margin-top: 30px;
    font-family: Calibri;
}
h2{
    margin-top: 20px;
}